body {
    margin: 0;
    padding: 0;

    font-family: Poppins, "Roboto";
    color: #272829;
}
nav {
    background-color: #272829;
    height: 5rem;
}
ul {
    margin: 0;
    padding: 0;

    list-style-type: none;

    margin-right: 8rem;
}
li {
    display: flex;
    float: right;
    font-size: 1.1rem;
    padding: 20px 20px;
    transition: opacity 2s;
    margin-top: 0.4rem;
}
li a {
    text-decoration: none;
    text-align: center;
    color: white;
    transition: all 0.5s;
}
a:hover {
    opacity: 0.4;
}
.main-container {
    display: flex;
    justify-content: left;
    align-items: center;

    margin-left: 6rem;
    margin-top: 3rem;
}
.con {
    margin-top: 4rem;
}
.main-title {
    text-shadow: 2px 2px 16px rgb(59, 58, 63);
    font-weight: 600;
    font-size: 3.6rem;
}
.coder {
    font-family: Roboto;
    font-weight: bold;
    color: #2D3250;
}
.main-content {
    text-shadow: 2px 2px 24px rgb(59, 58, 63);

    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;

    margin: 0;
    margin-top: 4rem;
}
.project {
    display: flex;
    justify-content: center;
    column-gap: 6rem;
    margin-top: 0px;
}
.p1, .p2, .p3 {
    border-width: 4px;
    border-style: solid;
    border-radius: 16px;
    border-color: rgb(72, 68, 68);
    width: 20rem;
    height: 18rem;
    margin-bottom: 8rem;
    margin-top: 4rem;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #272829;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.bottom2 {
    margin-left: 28rem;
    background-color: antiquewhite;
}
.socials {
    margin-top: 1rem;
    margin-left: 40rem;
    margin-right: 20px;
}
a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}
